src/main/webapp/WEB-INF/Cinema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           targetNamespace="http://cinemas">
    <xs:element name="CinemaRequest">
        <xs:complexType>
            <xs:all>
                <xs:element name="Film" type="FilmType"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="FilmType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>